*.aux
*.glo
*.idx
*.log
*.out
/PFTE.pdf
/PFTE.synctex.gz
*.toc
*.url
/Zinc/Zinc.tex
auto/
/Pharo.changes
/Pharo.image
/vm-ui.sh
/vm.sh
vm/
/Zinc/Zinc.pier.pdf
/Zinc/Zinc.pier.tex
files/
/Zinc/Zinc.pier.html
/crash.dmp
