*.aux
*.glo
*.idx
*.log
*.out
*.toc
*.url
*.synctex.gz
*.pier.pdf
*.pier.tex
*.pier.html
/PFTE.pdf
/Zinc/Zinc.tex
/Pharo.changes
/Pharo.image
/pharo-vm
/vm-ui.sh
/pharo-ui
/vm.sh
/pharo
auto/
files/
/crash.dmp
.DS_Store
/package-cache
